<!-- <div class="container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" class="form-control" required >
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
   -->
   <header>
	<nav id="navbar">
	  <li id="name" aria-current="page" (click)="redirectTohome()"> Virinchi</li>
	  <ul>
		<li><a (click)="redirectTohome()">Home</a></li>
		<li><a (click)="redirectTodepartments()">Departments</a></li>
		<li><a>Hospital</a></li>
		<li><a>Facility</a></li>
		<li><a>Treatments</a></li>
		<form class="d-flex ">
			<input class="form-control me-2 ser" type="search" placeholder="Search" aria-label="Search">
			<!-- <button class="btn btn-outline-lighter sera-btn " type="submit">Search</button> -->
			<button class="btn btn-outline-light sera-btn" type="submit">Search</button>
		  </form>
	  </ul>
	</nav>
  </header>
   <div>
	<img style="width: 100%;" src="assets/wallpaper.jpg" alt="">
   </div>
   <section >
   <div class="main" >  	
		<input  type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form (ngSubmit)="signin()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" [(ngModel)]="username" name="txt" placeholder="User name" required="">
					<input type="email"  name="email" placeholder="Email" required="">
					<input type="password" [(ngModel)]="password" name="pswd" placeholder="Password" required="">
					<button>Sign up</button>
				</form>
			</div>

			<div class="login">
				<!-- <img style="position:absolute;" src="assets/hospital-1.jpg" alt=""> -->
				<form (ngSubmit)="login()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" [(ngModel)]="username" placeholder="Email" required="">
					<input type="password" name="pswd"  [(ngModel)]="password" placeholder="Password" required="">
					<button>Login</button>
				</form>
			</div>
	</div>
</section>
